---
import '@/styles/global.css'
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import TopPosters from '../sections/TopPosters'
import AllPosters from '@/sections/AllPosters.astro'
---

<Layout title="House of Gozo">
  <Hero />
  <TopPosters client:load />
  <!-- DIVIDER HERE -->
  <div class="w-full px-10">
    <div class="h-[1px] w-full bg-gray-300"></div>
  </div>
  <AllPosters />
</Layout>
