<div class="flex flex-row items-center justify-center">
  <img src="/logo.png" alt="House of Gozo Logo" class="lg:block hidden" />
  <img
    src="/logo-mobile.png"
    alt="House of Gozo Mobile Logo"
    class="lg:hidden"
  />
</div>
