---
import NavbarLink from './NavbarLink.astro'
---

<nav
  class="absolute top-0 left-0 w-full bg-transparent transition-colors duration-300 z-50 lg:border-b lg:border-white/40"
>
  <div
    class="container mx-auto flex justify-between items-center max-w-screen-xl lg:px-5 xl:px-0"
  >
    <div
      class="col-span-1 flex justify-start items-center pl-5 lg:py-8 lg:pl-0"
    >
      <a href="/#home" class="text-white text-2xl font-semibold lg:text-3xl"
        >House of Gozo</a
      >
    </div>
    <div
      class="col-span-1 hidden items-center space-x-8 text-lg font-medium h-full lg:flex"
    >
      <NavbarLink id="top" href="#top" class="navbar-link">
        Top Posters
      </NavbarLink>
      <NavbarLink id="all" href="#all" class="navbar-link">
        All Posters
      </NavbarLink>
      <NavbarLink
        id="where-to-find-us"
        href="#where-to-find-us"
        class="navbar-link"
      >
        Where to find us
      </NavbarLink>
      <NavbarLink id="who-we-are" href="#who-we-are" class="navbar-link">
        Who we are
      </NavbarLink>
    </div>
    <div class="col-span-1 flex justify-end lg:hidden">
      <button
        id="menu-toggle"
        class="text-tertiary focus:outline-none flex items-center bg-primary p-4 rounded-bl-xl"
      >
        <span class="mr-2 text-md">Menu</span>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    id="menu"
    class="lg:hidden fixed inset-0 bg-black bg-opacity-80 flex flex-col items-center justify-center transition-opacity duration-300 opacity-0 pointer-events-none z-50"
    aria-hidden="true"
  >
    <div
      class="h-screen flex flex-col w-4/5 ml-auto bg-primary-lighter rounded-tl-md shadow-lg"
    >
      <div class="flex-grow overflow-y-auto divide-y divide-gray-700">
        <a
          href="/#top"
          class="block text-tertiary text-lg p-4 hover:bg-primary hover:text-white transition-colors"
        >
          Top Posters
        </a>
        <a
          href="/#all"
          class="block text-tertiary text-lg p-4 hover:bg-primary hover:text-white transition-colors"
        >
          All Posters
        </a>
        <a
          href="/#where-to-find-us"
          class="block text-tertiary text-lg p-4 hover:bg-primary hover:text-white transition-colors"
        >
          Where to find us
        </a>
        <a
          href="/#who-we-are"
          class="block text-tertiary text-lg p-4 hover:bg-primary hover:text-white transition-colors"
        >
          Who we are
        </a>
      </div>
    </div>
  </div>

  <script>
    const menuToggle = document.getElementById('menu-toggle')
    const menu = document.getElementById('menu')
    const menuLinks = menu?.querySelectorAll('a')

    function toggleMenu() {
      menu?.classList.toggle('opacity-0')
      menu?.classList.toggle('pointer-events-none')
      document.body.classList.toggle('overflow-hidden')
    }

    function closeMenu() {
      menu?.classList.add('opacity-0', 'pointer-events-none')
      document.body.classList.remove('overflow-hidden')
    }

    menu?.addEventListener('click', closeMenu)

    menuToggle?.addEventListener('click', toggleMenu)

    menuLinks?.forEach((link) => {
      link.addEventListener('click', (event) => {
        event.stopPropagation()
        closeMenu()
      })
    })
  </script>
</nav>

<script>
  function handleHashChange() {
    const hash = window.location.hash
    const links = document.querySelectorAll('.navbar-link')
    links.forEach((link) => {
      link.classList.remove('border-b-2', 'border-white')
    })
    const selectedLink = document.querySelector(`#${hash.slice(1)}`)
    if (selectedLink) {
      selectedLink.classList.add('border-b-2', 'border-white')
    }
  }

  window.addEventListener('hashchange', handleHashChange)
</script>
