<section class="h-screen w-full relative" id="home">
  <!-- ADD BACKGROUND VIDEO HERE -->
  <video
    class="absolute top-0 left-0 w-full h-full object-cover"
    src="/malta.mp4"
    autoplay
    loop
    muted
    playsinline
    poster="/preview.png"
    id="hero-video"></video>
  <!-- OVERLAY TO MAKE VIDEO DARKER -->
  <div class="absolute top-0 left-0 w-full h-full bg-black/50"></div>
  <!-- OVERLAP TITLE HERE -->
  <div
    class="absolute top-3/4 left-0 w-full h-full -translate-y-1/2 flex flex-col items-center justify-center"
  >
    <div
      class="max-w-[250px] lg:max-w-screen-sm flex flex-col items-center justify-center gap-4 lg:gap-8"
    >
      <h1 class="text-3xl font-semibold text-white text-center lg:text-4xl">
        Discover Gozo
      </h1>
      <p class="text-white text-center lg:text-lg">
        Discover Gozo's iconic posters and learn about the history of this
        beautiful island.
      </p>
      <a
        href="#"
        class="rounded-2xl bg-primary-lighter text-white px-4 py-2 lg:px-8 lg:py-4 lg:text-2xl"
        >Discover</a
      >
    </div>
  </div>
</section>

<script>
  const video = document.getElementById('hero-video') as HTMLVideoElement
  const playButton = document.getElementById('playButton')

  if (playButton) {
    playButton.addEventListener('click', () => {
      if (video) {
        video.play()
        playButton.style.display = 'none'
      }
    })
  }
</script>
