<section class="container mx-auto space-y-10">
  <div class="text-center p-6">
    <p class="italic text-lg text-neutral-300 lg:text-xl">
      <span class="font-bold"> Our little shop has a big heart. </span>
      <br />
      <br />
      We care about the people, the animals and the natural world that make up our
      beautiful planet. So we make products that respect these values, using FSC
      paper, vegetable-based inks and sustainable materials.
      <br />
      <br />
      We want you to go home with something that is well made and will last and of
      course that captures the natural beauty of the Maltese Islands.
      <br />
      <br />
      Working with integrity!
    </p>
  </div>
</section>
