---
import { LucideCheck, type LucideIcon } from 'lucide-react'
import pencilWeird from '../assets/pencil-weird.svg'
import productQuality from '../assets/product-quality.svg'
import diamond from '../assets/diamond.svg'
import { Image } from 'astro:assets'

type Item = {
  icon: ImageMetadata
  title: string
  description: string
}
const items: Item[] = [
  {
    icon: pencilWeird,
    title: 'Unique Designs',
    description:
      'Our posters are crafted with care and attention to detail, ensuring that each one is a true representation of the Maltese Islands.',
  },
  {
    icon: productQuality,
    title: 'Premium Quality',
    description:
      'We use only the highest quality materials and printing techniques to ensure that our posters are of the highest quality.',
  },
  {
    icon: diamond,
    title: 'Customer Satisfaction',
    description:
      'We are committed to ensuring that our customers are satisfied with their purchase. If you are not satisfied with your purchase, we will refund your money.',
  },
]
---

<section class="container mx-auto bg-white px-[50px]" id="quality">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    {
      items.map((item) => (
        <div class="flex flex-col justify-center items-center gap-4 bg-neutral-100 py-14 px-9 rounded-xl text-secondary text-center">
          <Image
            src={item.icon}
            alt={item.title}
            class="w-[113px] aspect-square"
          />
          <h3 class="text-2xl font-semibold">{item.title}</h3>
          <p class="text-lg">{item.description}</p>
        </div>
      ))
    }
  </div>
</section>
