<section
  class="container mx-auto lg:pl-[147px] overflow-x-hidden"
  id="who-we-are"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-[70px] px-4 lg:px-0">
    <!-- INFO -->
    <div class="flex flex-col gap-8">
      <h2
        class="text-3xl font-bold text-white lg:text-4xl text-center lg:text-left"
      >
        Who we are
      </h2>
      <p class="text-lg font-normal leading-[30px] text-justify text-white">
        House of Gozo was founded in 2017 after our first visit to Malta and
        Gozo. We fell in love with the vibrant colours of the sea and decided to
        create artwork using this and the many landmarks as inspiration. We have
        treated our artwork to a vintage retro travel poster style, to produce a
        product we are proud of and an alternative souvenir for you to enjoy. It
        is our nature to strive to be as environmentally friendly as possible,
        all of our products are produced on FSC certified paper and our Malta,
        Gozo and Comino designs are printed with vegetable inks.
        <br />
        <br />
        For our second season we have moved 100 Yards to be at the heart of Gozo's
        epicentre in The Independence Square, Victoria.
      </p>
    </div>
    <div
      class="w-full max-w-[513px] aspect-square relative overflow-hidden rounded-3xl"
    >
      <img
        src="/gozo-god.jpg"
        alt="City of Gozo"
        class="absolute w-full h-full object-cover z-0"
      />
      <div
        class="absolute bottom-0 left-0 w-[140px] lg:w-[188px] bg-primary aspect-square z-10 rounded-tr-3xl pt-3 pr-3 overflow-hidden"
      >
        <img
          src="/bike.png"
          alt="Bike house of gozo"
          class="w-full h-full object-cover rounded-3xl"
        />
      </div>
      <div
        class="absolute top-0 right-0 w-[188px] lg:w-[244px] bg-primary aspect-square z-10 rounded-bl-3xl pb-3 pl-3 overflow-hidden"
      >
        <img
          src="/valletta.jpg"
          alt="Valletta"
          class="w-full h-full object-cover rounded-3xl"
        />
      </div>
    </div>
  </div>
</section>
