<section class="container mx-auto lg:pl-[147px]" id="who-we-are">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-[70px] px-4 lg:px-0">
    <!-- INFO -->
    <div class="flex flex-col gap-8">
      <h2
        class="text-3xl font-bold text-white lg:text-4xl text-center lg:text-left"
      >
        Who we are
      </h2>
      <p class="text-lg font-normal leading-[30px] text-justify text-white">
        House of Malta is a creative collective of local artists and designers
        dedicated to preserving and sharing the beauty of Malta. Through
        stunning visuals and detailed posters, we capture the island's essence.
        Our mission is to bring the unique landscapes, historic landmarks, and
        vibrant culture of Malta to your home, helping you connect with its
        timeless charm.
        <br />
        <br />
        Passionate about showcasing our heritage, we offer high-quality artwork that
        lets you experience the soul of Malta every day. Join us on this journey
        and explore Malta through art.
      </p>
    </div>
    <div
      class="w-full max-w-[513px] aspect-square relative overflow-hidden rounded-3xl"
    >
      <img
        src="/gozo-god.jpg"
        alt="City of Gozo"
        class="absolute w-full h-full object-cover z-0"
      />
      <div
        class="absolute bottom-0 left-0 w-[140px] lg:w-[188px] bg-primary aspect-square z-10 rounded-tr-3xl pt-3 pr-3 overflow-hidden"
      >
        <img
          src="/bike.png"
          alt="Bike house of gozo"
          class="w-full h-full object-cover rounded-3xl"
        />
      </div>
      <div
        class="absolute top-0 right-0 w-[188px] lg:w-[244px] bg-primary aspect-square z-10 rounded-bl-3xl pb-3 pl-3 overflow-hidden"
      >
        <img
          src="/valletta.jpg"
          alt="Valletta"
          class="w-full h-full object-cover rounded-3xl"
        />
      </div>
    </div>
  </div>
</section>
